<div class="wrapper-comic-detail" *ngIf="selectedComic">
    <ic-comic-detail [comic]="selectedComic"></ic-comic-detail>
</div>
<div class="text-app-title">{{title}}</div>
<div class="wrapper-comic-list">
    <div class="container-pager">
        <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i>
    </div>
    <div class="container-comics">
        <div *ngFor="#comic of comics" (click)="openDetail(comic)" [class.selected]="comic === selectedComic" class="container-comic">
            <img src="assets/images/{{comic.thumbnail}}" />
            <div class="text-overlay">{{comic.name}}</div>
        </div>
    </div>
</div>
